@page "/fetchdata"

<PageTitle>Address Site</PageTitle>

@using Microsoft.AspNetCore.Mvc
@using University.API.Models
@using University.Frontend.Data
@inject AddressService address

<h1>Address</h1>

<p>This component fetch the addresses data from database.</p>

@if (add == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Street</th>
                <th>City</th>
                <th>State</th>
                <th>ZipCode</th>
                <th>Country</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var a in add)
            {
                <tr>
                    <td>@a.Street</td>
                    <td>@a.City</td>
                    <td>@a.State</td>
                    <td>@a.ZipCode</td>
                    <td>@a.Country</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Address>? add;

    protected override async Task OnInitializedAsync()
    {
       add = await address.GetData();
    }
}
