@page "/fetchdata"
@using Microsoft.AspNetCore.Mvc
@using University.API.Models
@using University.Frontend.Data
@inject AddressService address
@inject NavigationManager navigationManager;

<PageTitle>Address Site</PageTitle>

<div class="h-auto d-flex justify-content-between">
    <h1>Address</h1>
    <NavLink href="/address/form" class="nav-tab d-flex align-middle my-2" Match="NavLinkMatch.All">
        <button class="btn-success py-1 px-3 rounded-3 border-0">Add Address</button>
    </NavLink>
</div>

<p>This component fetch the addresses data from database.</p>

@if (add == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Street</th>
                <th>City</th>
                <th>State</th>
                <th>ZipCode</th>
                <th>Country</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var a in add)
            {
                <tr>
                    <td>@a.Street</td>
                    <td>@a.City</td>
                    <td>@a.State</td>
                    <td>@a.ZipCode</td>
                    <td>@a.Country</td>
                    <td><a href="@($"/address/delete/{a.Id}")" class="btn btn-danger oi oi-trash mx-1"></a><a href="@($"/address/edit/{a.Id}")" class="btn btn-success oi oi-pencil mx-1"></a></td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Address>? add;

    protected override async Task OnInitializedAsync()
    {
        add = await address.GetData();
    }

    private async Task<List<Address>> deleteItem(int id)
    {
        return await address.DeleteData(id);
    }
}
